form.vertical-form > label {
    display: block;
    margin-bottom: 10px;
}
form.vertical-form > label > input,
form.vertical-form > label > select {
    display: block;
}
main {
    padding: 20px;
}
.card {
    box-shadow: 2px 2px 5px rgba(20,20,20,.2);
    display: inline-block;
    padding: 10px;
}
.avatar {
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    padding: 10px 10px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 1000px;
    width: 3rem;
    height: 3rem;
}

.avatar--customer {
    background-color: green;
}
.avatar--owner {
    background-color: mediumpurple;
}
.avatar--agent {
    background-color: dodgerblue;
}
