.vertical-form > label {
    display: block;
    margin-bottom: 10px;
}
.vertical-form > label > * {
    display: block;
}
h1 {
    margin-bottom: 0.25em;
}
main {
    padding: 20px;
}
.card {
    box-shadow: 2px 2px 5px rgba(20,20,20,.2);
    display: inline-block;
    padding: 10px;
}
.card > h2 {
    margin-top: 0;
}
.card--inset {
    margin: 20px;
}
.card--padded {
    padding: 25px;
}
.card--row {
    display: block;
    margin-bottom: 30px;
}
.avatar {
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    padding: 10px 10px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 1000px;
    width: 3rem;
    height: 3rem;
    box-shadow: 2px 2px 5px rgba(20,20,20,.5)
}

.avatar--customer {
    background-color: MediumSlateBlue;
}
.avatar--owner {
    background-color: MediumVioletRed;
}
.avatar--agent {
    background-color: MediumTurquoise;
}
button,
input[type="button"],
input[type="submit"],
.btn {
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    padding: 7px 10px;
    border-radius: 1000px;
    margin: 2px;
    cursor: pointer;
}
.btn[disabled], button[disabled] {
    background-color: grey;
    cursor: not-allowed;
}
.btn.btn-success {
    background-color: #1d9137;
}
.btn.btn-danger {
    background-color: #b42232;
}
.rounded-input {
    padding: 7px 10px;
    border-radius: 1000px;
    margin: 2px;
    border: solid lightgray;
    -moz-outline-radius: 1000px;
}
a.btn {
    text-decoration: none;
}
.alert {
    display: inline-block;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}
fieldset {
    border: solid lightgray;
}
legend {
    background: white;
    font-weight: bold;
}
.pull-right {
    float: right;
}
hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-color: rgba(80,80,80,.05);
}
.room-count {
    user-select: none;
    font-size: large;
    margin-right: 0.5rem;
    background-color: Teal;
    color: white;
    padding: 0.5rem;
    border-radius: 1000px;
    font-weight: bold;
}
.room-count > :first-child {
    margin-right: 0.25rem;
}
.inline-form {
    display: inline-block;
}
.row {
    display: flex;
    justify-content: center;
}
.navigation-tile {
    display: inline-block;
    padding: 30px;
    font-size: x-large;
    text-decoration: none;
    background: darkslategrey;
    color: white;
    font-weight: bolder;
    transition: transform ease 0.1s;
    z-index: 1;
    position: relative;
}
.navigation-tile:hover {
    background-color: tomato;
    z-index: 2;
    position: relative;
    transform: scale(1.25, 1.25);
    box-shadow: 2px 2px 5px rgba(20,20,20,.2);
}
.upload-photo-preview {
    display: block;
}
img {
    height: auto
}
.thumbail-row {
    width: 800px;
}
.thumbail-row > img {
    width: 20%;
}
.thumbail-row > * {
    vertical-align: text-top;
}
